html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

@import url("http://fonts.cdnfonts.com/css/minecraft-4");

body {
  padding: 50px;
  margin: 0;
  font-family: "Minecraft", sans-serif;
  color: rgb(25, 19, 19);
  background-color: #cacacadc;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.container {
  text-align: center;
}

.askDay {
  font-size: 20px;
  animation-delay: initial;
}

.pokeball {
  height: 80px;
  width: 80px;
  animation-timing-function: step-start;
  cursor: pointer;
}

.pokeball:hover {
  animation: bounce 1s linear;
}

h1 {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: auto;
  font-size: 70px;
  text-shadow: 4px 5px 6px rgba(178, 24, 24, 0.98);
}

.sectionSearch {
  text-align: center;
}

#input {
  padding-block: 10px;
  padding-inline: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Minecraft", sans-serif;
  font-size: large;
  border: solid;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 100px;
  background-color: #ec0b0b50;
  border: solid black;
  -webkit-box-shadow: 6px 7px 8px 0px rgba(150, 0, 0, 0.88);
  box-shadow: 6px 7px 8px 0px rgba(150, 0, 0, 0.88);
}

.icons img {
  width: 34px;
  margin: 10px;
}

#pokedex {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 20px;
}

.card {
  line-height: 2;
  width: 150px;
  height: 220px;
  border: 3px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ec0b0b50;
  -webkit-box-shadow: 6px 7px 8px 0px rgba(150, 0, 0, 0.88);
  box-shadow: 6px 7px 8px 0px rgba(150, 0, 0, 0.88);
}

.card:hover {
  background-color: rgba(116, 119, 253, 0.678);
  -webkit-box-shadow: 6px 7px 8px 0px rgba(150, 0, 0, 0.88);
  box-shadow: 6px 7px 8px 0px rgba(255, 255, 255, 0.88);
}

.id-card {
  font-size: 15px;
  color: whitesmoke;
}

.card-title {
  font-size: 20px;
}

.card-subtitle {
  padding-inline: 5px;
  height: 30px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(255, 252, 252);
  border-radius: 50px;
}
.card:hover {
  animation: bounce 1s linear;
}
@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}

@media screen and (max-width: 500px) {
  body {
    padding-inline: 10px;
  }

  .askDay {
    font-size: 15px;
  }

  .pokeball {
    height: 60px;
    width: 60px;
  }

  #input {
    font-size: 15px;
    width: 150px;
  }
  .icons {
    margin: 22px;
  }
  .icons img {
    width: 25px;
    margin: 5px;
  }

  #pokedex {
    margin-top: 10px;
    padding: 5px;
    grid-gap: 10px;
  }

  .card {
    width: 100px;
    height: 200px;
  }

  .id-card {
    font-size: 12px;
  }

  .card-title {
    font-size: 15px;
  }

  .card-subtitle {
    font-size: 10px;
  }
}
